.signIn-btn {
  right: 0;
  margin: 1.125rem 3% 0;
  padding: 0.4375rem 1.0625rem;
  font-weight: 400;
  line-height: getDefaultNormalizer;
  border-radius: 0.1875rem;
  font-size: 1rem;
  background: var(--main-red);
  position: absolute;
  translate: TransformStream(-50%, -50%);
  cursor: pointer;
  transition: background 0.2s ease-in;
}
